{% extends 'base.html' %}

{% block content %}
<div class="add-post__form">
    <h1>Add new post</h1>
    <form action="{{ url_for('posts.new_post') }}" method="post" novalidate>
        {{ form.hidden_tag() }}  <!-- SecretKey field -->
        <p>
            {{ form.title(size=32, placeholder="Title") }}
        </p>
        <p>
            {{ form.content(row=50, width=40, placeholder="Post Content") }}
        </p>
        <p>
            <h3>Choose a category: {{ form.category() }}</h3>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</div>
{% endblock %}