{% extends 'base.html' %}

{% block content %}
<div class="posts__container">
    {% for post in posts.items %}
    <div class="post">
        <a href="{{ url_for('posts.post', slug=post.slug) }}">{{ post.title }}</a>
            by <a href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>.
        <p>
            <a href="{{ url_for('posts.category', category=post.category) }}">{{ post.category }}</a>
        </p>
        <p>{{ post.content | truncate(500, True) }}</p>
    </div>
    {% endfor %}
</div>
<!-- Pagination Links-->
<div class="pagination">
    <a href="{{ url_for('posts.posts_list', page=posts.prev_num) }}"
       class="{% if posts.page == 1 %}disabled{% endif %}">
        &laquo;
    </a>
    <!-- Loop through the number of pages to display a link for each-->
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
    <!-- Check for the active page and set the link to "Active"-->
    {% if posts.page == page_num %}
    <a href="{{ url_for('posts.posts_list', page=page_num) }}">
        {{ page_num }}
    </a>
    {% else %}
    <a href="{{ url_for('posts.posts_list', page=page_num) }}">
        {{ page_num }}
    </a>
    {% endif %}
    {% else %}
    ...
    {% endif %}
    {% endfor %}
    <a href="{{ url_for('posts.posts_list', page=posts.next_num) }}"
       class="{% if posts.page == posts.pages %}disabled{% endif %}">
        &raquo;
    </a>
</div>
{% endblock %}