{% extends 'base.html' %}

{% block content %}
<div class="reset__form">
    <h1>New password</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}  <!-- SecretKey field -->
        <p>
            {{ form.password(size=32, placeholder="Password") }}
            {% for error in form.password.errors %}
            <span style="color:red">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.confirm_password(size=32, placeholder="Confirm Password") }}
            {% for error in form.confirm_password.errors %}
            <span style="color:red">{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</div>
{% endblock %}