/* RESET */
*,*:before,*:after {padding: 0;margin: 0;border: 0;box-sizing: border-box;}
html,body {height: 100%;font-size: 16px;line-height: 24px;font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
a {color: #fff;text-decoration: none;}
h1 {font-size: 40px;line-height: 1;margin: 0px 0px 0px 0px;}
h2 {font-size: 30px;line-height: 1;margin: 0px 0px 0px 0px;}
ul {list-style: none;}

/* WRAPPER */
.wrapper {
	display: grid;
	min-height: 100%;
	grid-template: minmax(70px, auto) 1fr minmax(70px, auto) / 1fr;
	grid-template-areas:
		"header"
		"main"
		"footer";
}

/* HEADER */
.header {
	grid-area: header;
	padding: 15px;
	background-color: #000;
	align-items: center;
	display: grid;
	grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
}
.header__logo {
	grid-column: 2 / 3;
	font-size: 40px;
	letter-spacing: 10px;
	text-shadow: 7px 7px 12px #ff0000;
}
.header__menu {
	grid-column: 3 / 4;
}
.header__list {
	display: grid;
	grid-auto-flow: column;
	justify-items: end;
}
.header__list li {
	margin: 0px 0px 0px 20px;
}
.header__link {
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
}
@media (max-width: 767px) {
	.header__menu {
		display: none;
	}
}

/* MAIN */

}
.label__list {
}
.label__list li {
	margin: 10px 0px 0px 20px;
}
.label__link {
	color: #000;
	text-transform: uppercase;
	font-size: 36px;
}
/*.main {
    padding: 30px;
    background: url('../img/background.jpeg');
    background-position: top center;
    background-attachment: fixed;
    position: relative;
    -webkit-background-size: cover;
    background-size: cover;
}
@media (max-width: 767px) {
	.main {
	    min-height: 668px;
	}
}*/

/* FOOTER */
.footer {
    padding: 15px;
    background-color: #000;
    font-size: 14px;
    color: #fff;
    text-align: center;
}
.footer__text {
    font-family: Roboto, Arial, sans-serif;
    font-size: 24px;
    background-color: #2AA5A0;
    background-image: linear-gradient(90deg, #1395FF, #FFE61E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}