<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!-- ADAPTIVE -->
    <meta name="viewport" content="width=device-width">
<!-- CSS -->
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
<!-- PAGE TITLE -->
    {% block title %}
        {% if title %}
            <title>{{ title }} | Flask</title>{% else %}<title>Flask blog</title>
        {% endif %}
    {% endblock %}
</head>
<body>
<!-- PAGE BODY -->
    <div class="wrapper">
<!-- HEADER -->
        {% block header %}
            <header class="header">
                <a href="#" class="header__logo">FLASK</a>
                <nav class="header__menu">
                    <ul class="header__list">
                        {% if current_user.is_authenticated %}
                            <li><a href="{{ url_for('main.index') }}" class="header__link">Main</a></li>
                            <li><a href="{{ url_for('post.posts_list') }}" class="header__link">Posts</a></li>
                            <li><a href="{{ url_for('post.new_post') }}" class="header__link">Add Post</a></li>
                            <li><a href="{{ url_for('auth.account') }}" class="header__link">Account</a></li>
                            <li><a href="{{ url_for('auth.login') }}" class="header__link">Login</a></li>
                            <li><a href="{{ url_for('auth.logout') }}" class="header__link">Logout</a></li>
                        {% else %}
                            <li><a href="{{ url_for('main.index') }}" class="header__link">Main</a></li>
                            <li><a href="{{ url_for('post.posts_list') }}" class="header__link">Posts</a></li>
                            <li><a href="{{ url_for('auth.login') }}" class="header__link">Login</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </header>
        {% endblock %}

<!-- MAIN -->
            <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <span>{{ message }}</span>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {% block content %}
            <main class="main">

            </main>
        {% endblock %}

<!-- FOOTER -->
        {% block footer %}
            <footer class="footer">
                <div class="footer__copy">
                    by Йорцьо | 202_
                </div>
                <div class="footer__text">
                    Слава Україні!
                </div>
            </footer>
        {% endblock %}
    </div>
</body>
</html>