<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!-- ADAPTIVE -->
    <meta name="viewport" content="width=device-width">
<!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<!-- PAGE TITLE -->
    {% block title %}
        {% if title %}
            <title>{{ title }} | Flask</title>{% else %}<title>Flask blog</title>
        {% endif %}
    {% endblock %}
</head>
<body>
<!-- PAGE BODY -->
    <div class="wrapper">
<!-- HEADER -->
        {% block header %}
            <header class="header">
                <a href="#" class="header__logo">FLASK</a>
                <nav class="header__menu">
                    <ul class="header__list">
                        {% if current_user.is_authenticated %}
                            <li><a href="{{ url_for('main.index') }}" class="header__link">Main</a></li>
                            <li><a href="{{ url_for('posts.posts_list') }}" class="header__link">Posts</a></li>
                            <li><a href="{{ url_for('posts.new_post') }}" class="header__link">Add Post</a></li>
                            <li><a href="{{ url_for('users.account') }}" class="header__link">Account</a></li>
                            <li><a href="{{ url_for('users.logout') }}" class="header__link">Logout</a></li>
                        {% else %}
                            <li><a href="{{ url_for('main.index') }}" class="header__link">Main</a></li>
                            <li><a href="{{ url_for('posts.posts_list') }}" class="header__link">Posts</a></li>
                            <li><a href="{{ url_for('users.login') }}" class="header__link">Login</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </header>
        {% endblock %}

<!-- MAIN -->
            <main class="main">
                <div class="search">
                    <form action="{{ url_for('posts.search') }}" method="get">
                        <input type="text" class="search" name="q" placeholder="Keywords...">
                        <input type="submit" value="search">
                    </form>
                </div>
                <!-- flash messages -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <span>{{ message }}</span>
                    {% endfor %}
                {% endif %}
            {% endwith %}
                {% block content %}

                {% endblock %}
            </main>

<!-- FOOTER -->
        {% block footer %}
            <footer class="footer">
                <div class="footer__copy">
                    by Йорцьо | 202_
                </div>
                <div class="footer__text">
                    Слава Україні!
                </div>
            </footer>
        {% endblock %}
    </div>
</body>
</html>