{% extends 'base.html' %}

{% block content %}
    <div class="wrapper">
        <section class="content">
            <ul class="label__list">
                <li><a href="/posts/Category%20No.1/" class="label__link">Category No.1</a></li>
                <li><a href="/posts/Category%20No.2/" class="label__link">Category No.2</a></li>
                <li><a href="/posts/Category%20No.3/" class="label__link">Category No.3</a></li>
                <li><a href="/posts/Category%20No.4/" class="label__link">Category No.4</a></li>
                <li><a href="/posts/Category%20No.5/" class="label__link">Category No.5</a></li>
            </ul>
        </section>
    </div>
{% endblock %}

