{% extends 'base.html' %}

{% block content %}
    <div class="wrapper">
        <section class="content">
            <ul class="label__list">
                <li><a href="" class="label__link">Label no.1</a></li>
                <li><a href="" class="label__link">Label no.2</a></li>
                <li><a href="" class="label__link">Label no.3</a></li>
                <li><a href="" class="label__link">Label no.4</a></li>
                <li><a href="" class="label__link">Label no.5</a></li>
            </ul>
        </section>
    </div>
{% endblock %}